<div class="jobtitles-wrapper">

  <!-- GENERIC TABLE -->
  <app-generic-table
    [data]="teams"
    [columns]="teamColumns"
    [pageSize]="10"
    (rowClick)="editTeamShowDrawer($event)"
    (create)="createJobTitle()">
  </app-generic-table>

</div>

<!-- DRAWER -->
<app-drawer-form
  [isOpen]="showDrawer"
  [mode]="mode"
  [title]="'Job Title'"
  [fields]="teamFields"
  [model]="selectedTeam"
  (saved)="updateTeam($event)"
  (deleted)="deleteTeam($event)"
  (closed)="showDrawer = false">
</app-drawer-form>