<div class="jobtitles-wrapper">
  <app-generic-table
    [showCreate]="true"
    [data]="teams"
    [columns]="teamColumns"
    [pageSize]="10"
    (rowClick)="editTeamShowDrawer($event)"
    (create)="createTeam()">
  </app-generic-table>
</div>

<app-drawer-form
  [isOpen]="showDrawer"
  [mode]="mode"
  [title]="'Team'"
  [fields]="teamFields"
  [model]="selectedTeam"
  (saved)="saveTeam($event)"
  (updated)="updateTeam($event)"
  (deleted)="deleteTeam($event)"
  (closed)="showDrawer = false">
</app-drawer-form>