
.clients-wrapper {
  position: relative;
}

/* HEADER BAR */
.table-header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;

  padding: 10px;

  border: 1px solid #eee;
  border-radius: 6px;
}

/* TABLE ROW CLICK */
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background: #f5f7fa !important;
}

/* PAGINATION */
.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}