<p class="ui large header">Clients</p>

<div class="clients-wrapper">

  <!-- GENERIC TABLE -->
  <app-generic-table
    [data]="clients"
    [columns]="clientColumns"
    [pageSize]="5"
    (rowClick)="editClient($event)"
    (create)="createClient()">
  </app-generic-table>

</div>

<!-- DRAWER -->
<app-drawer-form
  [isOpen]="showDrawer"
  [mode]="mode"
  [title]="'Client'"
  [fields]="clientFields"
  [model]="selectedClient"
  (saved)="saveClient($event)"
  (deleted)="deleteClient($event)"
  (closed)="showDrawer = false">
</app-drawer-form>