<div class="table-wrapper">

  <table class="ui very basic compact table">
    <thead>
     <tr> <button
            *ngIf="showCreate"
            type="button"
            class="ui primary button"
            (click)="onCreate()">
            + Create
          </button>
       <button
      *ngFor="let button of optionalButtons"
      type="button"
      class="ui button"
      (click)="onOptionalButtonClick(button)">
      {{ button.label }}
    </button>
     </tr>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.label }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of pagedData"
          (click)="onRowClick(row)">
        <td *ngFor="let col of columns">
          {{ row[col.key] }}
        </td>
      </tr>
    </tbody>

  </table>

</div>