<div class="jobtitles-wrapper">

  <!-- GENERIC TABLE -->
  <app-generic-table
    [data]="users"
    [columns]="userColumns"
    [pageSize]="10"
    (rowClick)="editUserShowDrawer($event)"
    (create)="createUser()">
  </app-generic-table>

</div>

<!-- DRAWER -->
<app-drawer-form
  [isOpen]="showDrawer"
  [mode]="mode"
  [title]="'Job Title'"
  [fields]="userFields"
  [model]="selectedUser"
  (saved)="UpdateUser($event)"
  (deleted)="deleteUser($event)"
  (closed)="showDrawer = false">
</app-drawer-form>