<div class="jobtitles-wrapper">
  <app-generic-table
    [data]="users"
    [columns]="userColumns"
      [showCreate]="true" 
    [pageSize]="10"
    (rowClick)="editUserShowDrawer($event)"
    (create)="createUser()">
  </app-generic-table>
</div>

<app-drawer-form
  [isOpen]="showDrawer"
  [mode]="mode"
  [title]="'User'"
  [fields]="userFields"
  [model]="selectedUser"
  (fieldChange)="onFormChange($event)"
  (saved)="UpdateUser($event)"
  (deleted)="deleteUser($event)"
  (updated)="UpdateUser($event); AssignJobTitleToUser(selectedUser.username, $event.jobTitleId); AddMemberToTeam({ teamId: $event.teamId, userId: selectedUser.id, isRemoved: false });"
  (closed)="showDrawer = false">
</app-drawer-form>