<div class="jobtitles-wrapper">

  <!-- GENERIC TABLE -->
  <app-generic-table
    [data]="jobTitles"
      [showCreate]="true" 
    [columns]="jobTitleColumns"
    [pageSize]="10"
    (rowClick)="editJobTitleShowDrawer($event)"
    (create)="createJobTitle()">
  </app-generic-table>

</div>

<!-- DRAWER -->
<app-drawer-form
  [isOpen]="showDrawer"
  [mode]="mode"
  [title]="'Job Title'"
  [fields]="jobTitleFields"
  [model]="selectedJobTitle"
  (saved)="updateJobTitle($event)"
  (deleted)="deleteJobTitle($event)"
  (saved)="saveJobTitle($event)"
  (updated)="updateJobTitle($event)"
  (closed)="showDrawer = false">
</app-drawer-form>