<div class="departments-wrapper">

  <!-- GENERIC TABLE -->
  <app-generic-table
    [data]="departments"
      [showCreate]="true" 
    [columns]="departmentFields"
    [pageSize]="10"
    (rowClick)="editClientShowDrawer($event)"
    (create)="createDepartment()">
  </app-generic-table>
  </div>
 

<!-- DRAWER -->
<app-drawer-form
  [isOpen]="showDrawer"
  [mode]="mode"
  [title]="'Client'"
  [fields]="departmentFields"
  [model]="selectedDepartment"
  (saved)="saveDepartment($event)"
  (updated)="updateDepartment($event)"
  (deleted)="deleteDepartment($event)"
  (closed)="showDrawer = false">
</app-drawer-form>