<div class="leaveallocation-wrapper">

  <!-- GENERIC TABLE -->
  <app-generic-table
    [data]="leaveRequests"
    [columns]="leaveRequestColumns"
    [pageSize]="10"
    (rowClick)="editRequestShowDrawer($event)"
    (create)="createRequest()">
  </app-generic-table>

</div>

<!-- DRAWER -->
<app-drawer-form
  [isOpen]="showDrawer"
  [mode]="mode"
  [title]="'Leave Allocation'"
  [fields]="getdrawerFields()"
  [model]="selectedRequest"
  [customButtons]="customButtons"
  (saved)="createLeaveRequest($event)"
  (updated)="updateRequest(selectedRequest.id, $event)"
  (deleted)="deleteRequest($event)"
  (customButtonClick)="onCustomButtonClick($event)"
  (closed)="showDrawer = false">
</app-drawer-form>