<div class="table-drawer-wrapper">

  <div class="clients-wrapper">

    <app-generic-table
      [data]="timesheets"
      [columns]="timesheetColumns"
      [optionalButtons]="[
        { label: '← Back', action: 'back' },
        { label: '→ Forward', action: 'forward' }
      ]"
      (optionalButtonClick)="handleButton($event)"
      (rowClick)="editTimesheetShowDrawer($event.date.toString().split('T')[0])"
      >
    </app-generic-table>

  </div>

<app-drawer-form
  [isOpen]="showDrawer"
  [mode]="mode"
  [title]="'Timesheet'"
[fields]="mode === 'create' ? timesheetCreateFields : timesheetFields"  [model]="selectedTimesheet"
  (saved)="createTimesheet()"
  (closed)="showDrawer = false">

</app-drawer-form>

</div>